

/* Toggle button */
.exi-transitional .mol-advanced-filter-toggle {
    vertical-align: middle;
	margin: 0;
	padding: 0;
}

.exi-transitional .mol-advanced-filter-toggle button {
	padding: 0;
}

/* Entity info display */
.exi-transitional .mol-advanced-filter-toggle div.entities-displayed {
    display: block;
    margin-left: 1.76rem;
    font-size: $text-size-xs;
}

