{{> molecules-panel-main-open}}

	{{> molecules-panel-heading-open}}

		{{> molecules-help-link}}

	{{> molecules-panel-heading-close}}

	{{> molecules-panel-body-open}}
		
		<p>Lorem ipsum dolor sit amet, placerat porttitor eros aliquam ac vitae amet, morbi bibendum, fusce mollis nulla at vel sodales pede, wisi convallis diam sociis interdum elit. Suspendisse bibendum ultrices atque arcu orci, sociosqu aliquet volutpat donec mauris litora, massa eget nec torquent ut pretium amet. Tortor luctus amet orci velit nulla, rhoncus magna augue fringilla cum, at felis hendrerit, luctus amet, pulvinar rhoncus rutrum. Est praesent aliquam lectus felis, neque magna ligula pellentesque, ultrices sapien mattis nec a et interdum, leo commodo at elit. Suspendisse sollicitudin eget libero mollis ligula arcu, dolor et ipsum porta sodales, nascetur turpis et, wisi erat, lorem non turpis praesent donec dolorem elit.</p>
        <div class="col-sm-12 col-md-6 panel-col-1">
            <p>Column 1 Suspendisse bibendum ultrices atque arcu orci, sociosqu aliquet volutpat donec mauris litora, massa eget nec torquent ut pretium amet. Tortor luctus amet orci velit nulla, rhoncus magna augue fringilla cum, at felis hendrerit, luctus amet, pulvinar rhoncus rutrum. Est praesent aliquam lectus felis, neque magna ligula pellentesque, ultrices sapien mattis nec a et interdum, leo commodo at elit. Suspendisse sollicitudin eget libero mollis ligula arcu, dolor et ipsum porta sodales, nascetur turpis et, wisi erat, lorem non turpis praesent donec dolorem elit.</p>
        </div>
        <div class="col-sm-12 col-md-6 panel-col-2">
            <p>Column 2 Suspendisse bibendum ultrices atque arcu orci, sociosqu aliquet volutpat donec mauris litora, massa eget nec torquent ut pretium amet. Tortor luctus amet orci velit nulla, rhoncus magna augue fringilla cum, at felis hendrerit, luctus amet, pulvinar rhoncus rutrum. Est praesent aliquam lectus felis, neque magna ligula pellentesque, ultrices sapien mattis nec a et interdum, leo commodo at elit. Suspendisse sollicitudin eget libero mollis ligula arcu, dolor et ipsum porta sodales, nascetur turpis et, wisi erat, lorem non turpis praesent donec dolorem elit.</p>
        </div>
	{{> molecules-panel-body-close}}

{{> molecules-panel-main-close}}