<div class="fpo-checkbox-wrapper">

	<div class="atom-checkbox">
		<input type="{{inputCheckbox.type}}" name="{{inputCheckbox.name}}" id="{{inputCheckbox.id}}" value="{{inputCheckbox.value}}" {{inputCheckbox.checkedstate}}{{{inputCheckbox.arialabel}}}{{{inputCheckbox.ariadescribedby}}}{{{inputCheckbox.disabled}}}>
		<label class="checkboxLabel" for="{{inputCheckbox.id}}">Checkbox Basic</label>
	</div>
	
</div>

