<div class="mol-date-range-input{{showHide}}">
  {{#molDateInputStart}}
    {{> molecules-input-field-core}}
  {{/molDateInputStart}}
  <div class="{{molDateRangeToClass}}">to</div>

  {{#molDateInputEnd}}
    {{> molecules-input-field-core}}
  {{/molDateInputEnd}}
</div>