<div class="{{formGroupClass}} mol-input-file-input">
  <label class="{{molInputFileInput.labelClass}}" for="{{molInputFileInput.labelFor}}">{{molInputFileInput.labelText}}</label>
  {{> atoms-file-input }}
  <p class="{{molInputFileInput.helpTextClass}} text-sm">{{molInputFileInput.helpText}}</p>
</div>