
<!-- SINGLE CONDITION -->	
<div class="pl-example-container">
	<h4>Single Condition</h4>
	{{> molecules-filter-by-condition-single-core}}

</div>



<!-- DOUBLE CONDITION -->
<div class="pl-example-container">
	<h4>Double Condition</h4>
	{{> molecules-filter-by-condition-double-core}}

</div>	
