<div class="pl-example-container">
  <h4>Default</h4>

  <!-- Numeric Range Input (DEFAULT STATE) start -->
  <div class="mol-numeric-range-input">
    <div class="sr-only">Description of the numeric range's purpose and usage</div>
    
    {{#molRangeStart1}}
    {{> molecules-input-field-core}}
    {{/molRangeStart1}}

    <!-- "to" divider -->
    <div class="to">to</div>

    {{#molRangeEnd1}}
    {{> molecules-input-field-core}}
    {{/molRangeEnd1}}

  </div>
  <!-- Numeric Range Input (DEFAULT STATE) end -->

</div><!-- Close PL example container -->


<div class="pl-example-container">
  <h4>Hint Text</h4>
  <!-- Numeric Range Input (HINT TEXT) start -->
  <div class="mol-numeric-range-input">
    <div class="sr-only">Description of the numeric range's purpose and usage</div>
    
    {{#molRangeStart2}}
    {{> molecules-input-field-core}}
    {{/molRangeStart2}}

    <!-- "to" divider -->
    <div class="to">to</div>

    {{#molRangeEnd2}}
    {{> molecules-input-field-core}}
    {{/molRangeEnd2}}

  </div>
  <!-- Numeric Range Input (HINT TEXT) end -->

</div><!-- Close PL example container -->


<div class="pl-example-container">
  <h4>Validation Alert</h4>
  <!-- Numeric Range Input (ALERT) start -->
  <div class="mol-numeric-range-input">
    <div class="sr-only">Description of the numeric range's purpose and usage</div>
    
    {{#molRangeStart3}}
    {{> molecules-input-field-core}}
    {{/molRangeStart3}}

    <!-- "to" divider -->
    <div class="to">to</div>

    {{#molRangeEnd3}}
    {{> molecules-input-field-core}}
    {{/molRangeEnd3}}

    <!-- Validation alert -->
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Here's some warning text
    </div>

  </div>
  <!-- Numeric Range Input (ALERT) end -->

</div><!-- Close PL example container -->