<div class="{{formGroupClass}} mol-input-password-field">
  <label class="{{molInputPassword.labelClass}}" for="{{molInputPassword.labelFor}}">{{molInputPassword.labelText}}</label>
  {{> atoms-text-field-password }}
</div>