<div class="{{formGroupClass}}mol-select-input{{showHide}}">
  <label {{{molSelectInput.labelClass}}}for="{{molSelectInput.labelFor}}">{{molSelectInput.labelText}}</label>
  {{> atoms-select-input }}
</div>
