<div class="pl-example-container">
    <h4>Default</h4>

    <!-- Text Input (DEFAULT STATE) start -->
    {{#molTextInput}}
    {{> molecules-input-field-core}}
    {{/molTextInput}}
    <!-- Text Input (DEFAULT STATE) end -->

</div><!-- Close PL example container -->


<div class="pl-example-container">
    <h4>Hint Text</h4>

    <!-- Text Input (HINT TEXT) start -->
    {{#molTextInput2}}
    {{> molecules-input-field-core}}
    {{/molTextInput2}}
    <!-- Text Input (HINT TEXT) end -->

</div><!-- Close PL example container -->


<div class="pl-example-container">
    <h4>Validation Alert</h4>

    <!-- Text Input (VALIDATION ALERT) start -->
    {{#molTextInput3}}
    {{> molecules-input-field-core}}
    {{/molTextInput3}}

	<!-- Validation alert -->
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      Here's some warning text
    </div>
    <!-- Text Input (VALIDATION ALERT) end -->

</div><!-- Close PL example container -->