<div class="{{formGroup}} mol-input-text-area">
  <label class="{{molInputTextArea.labelClass}}" for="{{molInputTextArea.labelFor}}">{{molInputTextArea.labelText}}</label>
  {{> atoms-text-area }}
</div>
