<!-- SINGLE LINE EXAMPLE -->
<div class="pl-example-container">

	<h4 class="demo-only">Single-Line Typeahead Dropdown</h4>
	<div class="{{formGroup}} mol-typeahead-dropdown{{showHide}}">
	  {{{molLabel}}}
	  <span class="sr-only" id="typeahead" aria-hidden="true"></span>
	</div>

</div>


<!-- MULTI-LINE EXAMPLE -->
<div class="pl-example-container">

	<h4 class="demo-only">Optional Multi-Line Typeahead Dropdown</h4>
	<!-- MULTISELECT DROPDOWN START -->
	<div class="{{formGroup}} mol-typeahead-dropdown mol-typeahead-dropdown--multiline {{showHide}}">
	  {{{molLabel}}}
	  <span class="sr-only" id="typeahead" aria-hidden="true"></span>
	  <ul class="token-input-list"></ul>

	<div class="token-input-dropdown">
		<ul id="typeahead-multiselect-dropdown-results" role="tree" aria-expanded="true" aria-hidden="false">
			<li class="token-input-dropdown-item2 token-input-selected-dropdown-item"><b>Smith</b>, Aaron H.</li>
			<li class="token-input-dropdown-item" role="treeitem">
				<span class=""><b>Smith</b>, Cynthia Poppadaoplis</span>
				<span class="token-input--sec-info">56721 Soaring Eagle Blvd, Anchorage, AK 55643</span>
			</li>
			<li class="token-input-dropdown-item2" role="treeitem">
				<span class=""><b>Smith</b>, Franklin D.</span>
				<span class="token-input--sec-info">56721 Raging Bear Rd, Bedford, VA 24018</span>
			</li>
			<li class="token-input-dropdown-item" role="treeitem">
				<span class=""><b>Smith</b>, Petra J.</span>
				<span class="token-input--sec-info">56721 Calming Tiger Blvd, Anchorage, AK 30567</span>
			</li>
			<li class="token-input-dropdown-item2" role="treeitem">
				<span class=""><b>Smith</b>ers, Waylon Z.</span>
				<span class="token-input--sec-info">56721 Dancing Dog Lane, Fairbanks, AL 21987</span>
			</li>
			<li class="token-input-dropdown-item" role="treeitem">
				<span class=""><b>Smith</b>son, Aretha P.</span>
				<span class="token-input--sec-info">56721 Mutating Mouse St, Tuscaloosa, AL 21987</span>
			</li>
		</ul>
	</div>	  
	  
