<!-- SINGLE LINE EXAMPLE -->
<div class="pl-example-container">
	<h4 class="demo-only">Single-Line Typeahead Dropdown</h4>
	{{>molecules-typeahead-dropdown-single-core}}
</div>


<!-- MULTI-LINE EXAMPLE -->
<div class="pl-example-container">
	<h4 class="demo-only">Optional Multi-Row Typeahead Dropdown</h4>
	{{>molecules-typeahead-dropdown-multiple-core}}
</div>