<!-- Page Structure MAIN start (here for context, not part of this organism) -->
<main aria-label="Main Content">

  <div class="row">

    <div class="col-sm-6">

      {{#blockStyle1}}
      {{> molecules-block-open}}
      {{/blockStyle1}}

      {{> molecules-block-heading-open}}
      <!-- Block Title -->
      <h3 id="block1">Block Title (Default Style)</h3>

      {{> molecules-help-button}}
      {{> molecules-block-heading-close}}

      {{> molecules-block-body-open}}

      <div class="row">

        <div class="col-sm-6">

          <h4>Column 1 (H4)</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
          <h5>Section Title (H5)</h5>
          <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>

        </div>
        <!-- Closing column -->

        <div class="col-sm-6">

          <h4>Column 2 (H4)</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
          <h5>Section Title (H5)</h5>
          <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>

        </div>
        <!-- Closing column -->

      </div>
      <!-- Closing row -->

      {{> molecules-block-body-close}}

      {{> molecules-block-footer-open}}
      <a href="page-body-footer-link.html">Optional footer link</a>
      {{> molecules-block-footer-close}}

      {{> molecules-block-close}}

    </div>
    <!-- Closing column -->

    <div class="col-sm-6">

      {{#blockStyle2}}
      {{> molecules-block-open}}
      {{/blockStyle2}}

      {{> molecules-block-heading-open}}
      <!-- Block Title -->
      <h3 id="block2">Block Title (Light Style)</h3>

      {{> molecules-help-button}}
      {{> molecules-block-heading-close}}

      {{> molecules-block-body-open}}
      <h4>Section Title (H4)</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
      <h5>Section Title (H5)</h5>
      <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>
      <h6>Section Title (H6)</h6>
      <p>Suspendisse potenti. Praesent tincidunt nunc et mauris dignissim, et porta sapien rutrum. Duis volutpat, massa ac feugiat iaculis, urna mauris rutrum felis, in semper sem ligula vitae ligula. Mauris porta posuere odio non efficitur. Pellentesque nulla lacus, egestas tempor elementum in, ultrices sed risus. Praesent feugiat urna elit, ac efficitur ipsum posuere sed. Ut vel sagittis elit. Curabitur efficitur lacus non magna maximus, et fermentum risus tempor.</p>
      {{> molecules-block-body-close}}

      {{> molecules-block-close}}

    </div>
    <!-- Closing column -->

  </div>
  <!-- row end -->

</main>
<!-- Page Structure MAIN end -->