<!-- LIST KEY TRIGGERING BUTTON -->
<div id="mol-list-key" class="mol-popover mol-list-key">
    {{> atoms-button-core}}
</div>


<!-- LIST KEY EXAMPLE CODE START
<div id="mol-list-key" class="mol-popover mol-list-key">
    
    // TRIGGERING BUTTON
    <button type="button" id="launch-list-key" class="btn btn-sm btn-link" data-toggle="popover" data-original-title="" title="" aria-describedby="popover702597">
        List key
    </button>
    
    // POPOVER CODE
    <div class="popover fade bottom" role="tooltip" id="popover702597" style="top: 34px; left: 0px; display: block;">
        <div class="arrow" style="left: 21.6016%;"></div>
        <h3 class="popover-title">
            List Key
            <button type="button" data-dismiss="alert" class="btn btn-link mol-close">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="sr-only">Close this popover</span>
            </button>
        </h3>
        <div class="popover-content">
            <ul class="list" aria-label="List of available states for the accompanying list rows">
                <li class="full-list-key-success"><span aria-hidden="true"></span>Success<span class="sr-only"> - Light green background</span></li>
                <li class="full-list-key-warning"><span aria-hidden="true"></span>Warning<span class="sr-only"> - Light orange background</span></li>
                <li class="full-list-key-danger"><span aria-hidden="true"></span>Danger<span class="sr-only"> - Light red background</span></li>
                <li class="full-list-key-past"><span aria-hidden="true"></span>Past<span class="sr-only"> - Light gray background</span></li>
                <li class="full-list-key-inactive"><span aria-hidden="true"></span>Inactive<span class="sr-only"> - Striped gray background</span></li>
            </ul>
        </div>
    </div>

</div>
LIST KEY EXAMPLE CODE END -->