<p>
<!-- POPOVER TRIGGERING BUTTON -->
<div id="mol-popover" class="mol-popover">
    {{> atoms-button-core}} 
</div>
</p>

<p>
<div id="popover-warning" class="mol-popover popover-warning">

    {{#button-alert}}
        {{> atoms-button-core}}
    {{/button-alert}}
    
</div>
</p>

<p>
<div id="popover-warning" class="mol-popover popover-warning">

    {{#button-alert}}
        {{> atoms-button-core}}
    {{/button-alert}}
    
</div>
</p>


<!-- POPOVER EXAMPLE CODE START
<div id="mol-popover" class="mol-popover">
    
    // TRIGGERING BUTTON
    <button type="button" id="launch-mol-popover" class="btn btn-primary" data-toggle="popover" data-original-title="" title="" aria-describedby="popover403991">
        Display popover
    </button>
    
    // POPOVER CODE
    <div class="popover fade bottom" role="tooltip" id="popover403991" style="top: 52px; left: 0px; display: block;">
        <div class="arrow" style="left: 24.3188%;"></div>
        <h3 class="popover-title">
            Popover Title
            <button type="button" data-dismiss="alert" class="btn btn-link mol-close">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span class="sr-only">Close this popover</span>
            </button>
        </h3>
        <div class="popover-content">
            <p>Sed lobortis imperdiet leo. Vivamus mollis erat gravida, faucibus arcu euismod, tincidunt justo. Donec fringilla faucibus lacus, quis tincidunt ex laoreet vitae.</p>
        </div>
    </div>

</div>
POPOVER EXAMPLE CODE END -->