<div class="mol-popover-calendar">
  <button type="button" id="launch-mol-popover-calendar" class="btn btn-primary" data-toggle="popover-calendar" rel="popover-calendar">Calendar Popover</button>
</div>