{{> molecules-progress-trail-open}}
  <li class="mol-progress-trail--success">
    <span class="sr-only">Step 1 of 6 - </span>
    <a href="step1.html">
      Event Basics
      <span class="sr-only"> - Completed</span>
    </a>
  </li>
  <li class="mol-progress-trail--success">
    <span class="sr-only">Step 2 of 6 - </span>
    <a href="step2.html">
      Location / Date / Time
      <span class="sr-only"> - Completed</span>
    </a>
  </li>
  <li class="mol-progress-trail--current">
    <span class="sr-only">Step 3 of 6 - </span>
    Resources
    <span class="sr-only"> - Current Step</span>
  </li>
  <li>
    <span class="sr-only">Step 4 of 6 - </span>
    Registration &amp; Fee Details
  </li>
  <li>
    <span class="sr-only">Step 5 of 6 - </span>
    Promotional Information
  </li>
  <li>
    <span class="sr-only">Step 6 of 6 - </span>
    Confirm &amp; Finish
  </li>
  
{{> molecules-progress-trail-close}}  