<p>Use the Tab key to activate the Skip Navigation menu</p>

<main aria-label="Main Content">

  <h1>First-Level Heading (H1)</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
  <h2>Second-Level Heading (H2)</h2>
  <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>
  <h3>Third-Level Heading (H3)</h3>
  <p>Suspendisse potenti. Praesent tincidunt nunc et mauris dignissim, et porta sapien rutrum. Duis volutpat, massa ac feugiat iaculis, urna mauris rutrum felis, in semper sem ligula vitae ligula. Mauris porta posuere odio non efficitur. Pellentesque nulla lacus, egestas tempor elementum in, ultrices sed risus. Praesent feugiat urna elit, ac efficitur ipsum posuere sed. Ut vel sagittis elit. Curabitur efficitur lacus non magna maximus, et fermentum risus tempor.</p>

</main>  
  
<!-- SKIPTO MENU -->
<script type="text/javascript" src="../../js/skipto.js"></script>