
<!-- borrowed from DequeUniversity.com -->

<div id="tab-container" class="tab-container" aria-multiselectable="false" class="tabs-view">
  <ul id="navlist" role="tablist" class="nav-tabs">
    <li role="presentation" class="active">
      <a role="tab" id="one" class="panel-title" aria-setsize="3" aria-posinset="1" tabindex="0" href="#" aria-controls="panel-1" aria-selected="true">Section One</a>
    </li>
    <li role="presentation">
      <a role="tab" id="two" class="panel-title" aria-setsize="3" aria-posinset="2" tabindex="-1" href="#" aria-controls="panel-2" aria-selected="false">Section Two</a>
    </li>
    <li role="presentation">
      <a role="tab" id="three" class="panel-title" aria-setsize="3" aria-posinset="3" tabindex="-1" href="#" aria-controls="panel-3" aria-selected="false">Section Three</a>
    </li>
    <li role="presentation">
      <a role="tab" id="four" class="panel-title" aria-setsize="3" aria-posinset="3" tabindex="-1" href="#" aria-controls="panel-4" aria-selected="false">Section Four</a>
    </li>    
    <li role="presentation">
      <a role="tab" id="five" class="panel-title" aria-setsize="3" aria-posinset="3" tabindex="-1" href="#" aria-controls="panel-5" aria-selected="false">Section Five</a>
    </li>   
    <li role="presentation">
      <a role="tab" id="six" class="panel-title" aria-setsize="3" aria-posinset="3" tabindex="-1" href="#" aria-controls="panel-6" aria-selected="false">Section Six</a>
    </li>     
  </ul>
  
  <div id="tabpanels">

    <div role="tabpanel" aria-labelledby="one" class="tabpanel current" tabindex="-1" id="panel-1">
      <div class="panel-body">
        <h4>Section One</h4>
        <p>Let your imagination be your guide. Maybe he has a little friend that lives right over here. Making all those little fluffies that live in the clouds. You better get your coat out, this is going to be a cold painting. Let your imagination be your guide. Maybe he has a little friend that lives right over here. <a href="#">Making all those</a> little fluffies that live in the clouds. You better get your coat out, this is going to be a cold painting.Let your imagination be your guide. </p>
      </div>
    </div>

    <div aria-hidden="true" class="tabpanel" role="tabpanel" aria-labelledby="two" tabindex="-1" id="panel-2">
      <div class="panel-body">
        <h4>Section Two</h4>
        <p>Just let this happen. We just let this flow right out of our minds. And I will hypnotize that just a little bit. There's nothing wrong with having a tree as a friend.</p>   
      </div>
    </div>
    
    <div aria-hidden="true" class="tabpanel" role="tabpanel" aria-labelledby="three" tabindex="-1" id="panel-3">
      <div class="panel-body">
        <h4>Section Three</h4>
        <p>If we're going to have animals around we all have to be concerned about them and take care of them. Let's get crazy. Nature is so fantastic, enjoy it. Let it make you happy.</p>
      </div>
    </div>

    <div aria-hidden="true" class="tabpanel" role="tabpanel" aria-labelledby="four" tabindex="-1" id="panel-4">
      <div class="panel-body">
        <h4>Section Four</h4>
        <p>If we're going to have animals around we all have to be concerned about them and take care of them. Let's get crazy. Nature is so fantastic, enjoy it. Let it make you happy.</p>
      </div>
    </div>

    <div aria-hidden="true" class="tabpanel" role="tabpanel" aria-labelledby="five" tabindex="-1" id="panel-5">
      <div class="panel-body">
        <h4>Section Five</h4>
        <p>If we're going to have animals around we all have to be concerned about them and take care of them. Let's get crazy. Nature is so fantastic, enjoy it. Let it make you happy.</p>
      </div>
    </div>    

    <div aria-hidden="true" class="tabpanel" role="tabpanel" aria-labelledby="six" tabindex="-1" id="panel-6">
      <div class="panel-body">
        <h4>Section Six</h4>
        <p>If we're going to have animals around we all have to be concerned about them and take care of them. Let's get crazy. Nature is so fantastic, enjoy it. Let it make you happy.</p>
      </div>
    </div>        

  </div>
</div>

<!-- script to add a11y events and acc->tabs functionality -->
<script type="text/javascript">
  var $navlist = $('#navlist');
  var $tabContainer = $('#tab-container');
  var $panels = $('#tabpanels');

  $navlist.on('keydown', 'li a', function (keyVent) {
    var arrows = [37, 38, 39, 40];
    var which = keyVent.which;
    var target = keyVent.target;
    if ($.inArray(which, arrows) > -1) {
      var adjacentTab = findAdjacentTab(target, $navlist, which);

      if (adjacentTab) {
        keyVent.preventDefault();
        adjacentTab.focus();
        // if desired behavior is that when tab recieves focus -> make it the active tab:
        setActiveAndInactive(adjacentTab, $navlist);
      }
    } else if (which === 13 || which === 32) { // ENTER |or| SPACE
      keyVent.preventDefault(); // don't scroll the page around...
      target.click();
    } else if (which === 34) { // PAGE DOWN
      keyVent.preventDefault(); // don't scroll the page
      var assocPanel = $('#' + this.getAttribute('aria-controls'));
      if (assocPanel) {
        assocPanel.focus();
      }
    }
  });

  $(document.body).on('keydown', '.tabpanel', function (e) {
    if (e.which === 33) { // PAGE UP
      e.preventDefault(); // don't scroll
      var activeTab = $navlist.find('li.active a')[0];
      if (activeTab) {
        activeTab.focus();
      }
    }
  });

  // click support
  $navlist.on('click', 'li a', function () {
    setActiveAndInactive(this, $navlist);
  });

  function findAdjacentTab(startTab, $list, key) {
    var dir = (key === 37 || key === 38) ? 'prev' : 'next';
    var adjacentTab = (dir === 'prev') ?
                      $(startTab.parentNode).prev()[0] :
                      $(startTab.parentNode).next()[0];

    if (!adjacentTab) {
      var allTabs = $list.find('li');
      if (dir === 'prev') {
        adjacentTab = allTabs[allTabs.length - 1];
      } else {
        adjacentTab = allTabs[0];
      }
    }

    return $(adjacentTab).find('a')[0];
  }

  function setActiveAndInactive(newActive, $list) {
    $list.find('li').each(function () {
      var assocPanelID = $(this)
                            .find('a')
                            .first()
                            .attr('aria-controls');
      var anchor = $(this).find('a')[0];

      if (this !== newActive.parentNode) {
        $(this).removeClass('active');
        anchor.tabIndex = -1;
        anchor.setAttribute('aria-selected', 'false');
        $('#' + assocPanelID)
          .removeClass('current')
          .attr('aria-hidden', 'true');
      } else {
        $(this).addClass('active');
        anchor.tabIndex = 0;
        anchor.setAttribute('aria-selected', 'true');
        $('#' + assocPanelID)
          .addClass('current')
          .removeAttr('aria-hidden');
      }

    });
  }

  // initial configuration based on window's width
  var isAccordionView = false;
  var isTabsView = false;

  determineView();

  // Debounced Resize() jQuery Plugin
  // Author: Paul Irish
  (function($, sr){
    // debouncing function from John Hann
    // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
    var debounce = function (func, threshold, execAsap) {
        var timeout;

        return function debounced () {
            var obj = this, args = arguments;
            function delayed () {
                if (!execAsap)
                    func.apply(obj, args);
                timeout = null;
            }

            if (timeout)
                clearTimeout(timeout);
            else if (execAsap)
                func.apply(obj, args);

            timeout = setTimeout(delayed, threshold || 100);
        };
    };
    // smartresize
    jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

  })(jQuery,'smartresize');


  // RESIZE EVENT:
  $(window).smartresize(determineView);


  function determineView() {
    var winWidth = $(window).width();

    if (winWidth <= 767 && !isAccordionView) { // SHOW ACCORDION VIEW
      // switch to the accordion view
      $tabContainer
        .removeClass('tabs-view')
        .addClass('accordion-view');

      // fix the markup to be more suited for accordions
      $panels.find('.tabpanel').each(function () {
        var panelID = this.id;
        var assocLink = panelID && $('#navlist a[aria-controls="' + panelID + '"]')[0];
        if (assocLink) {
          $(assocLink.parentNode).append(this);
        }
      });

      isAccordionView = true;
      isTabsView = false;
    } else if (winWidth > 767 && !isTabsView) { // SHOW TABS VIEW
      var wasAccordion = $tabContainer.hasClass('accordion-view');
      // switch to the tabs view
      $tabContainer
        .removeClass('accordion-view')
        .addClass('tabs-view');

      if (wasAccordion) {
        $navlist.find('.tabpanel').each(function () {
          $panels.append(this);
        });
      }

      isTabsView = true;
      isAccordionView = false;
    }
  }




</script>
<script type="text/javascript">
  $(function(){

      if($('.tabpanel').hasClass('accFade')){
        $('.tabpanel').removeClass('accFade')
      }else{
        $('.tabpanel').addClass('accFade')
      }

      // $('.tabpanel.current').toggleClass('accFade');

  });
</script>

</div>