{{{exiTransOpen}}}
<!-- Get a non-context copy of only the title dropdown code at http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/exi-pattern-lab-sass/public/?p=molecules-title-dropdown-core -->

{{> molecules-panel-main-open}}

	{{> molecules-panel-heading-open}}
		{{> molecules-title-dropdown-core}}
		{{> molecules-help-link}}

	{{> molecules-panel-heading-close}}

	{{> molecules-panel-body-open}}
		<p>Lorem ipsum dolor sit amet, sociis lectus, non amet donec ducimus arcu mauris, sit eget lorem erat duis pede. Egestas nullam nunc suscipit neque ultrices. Nec at eget, sociis eros, sagittis odio porttitor volutpat. Maecenas leo duis quis pede, luctus bibendum tempor turpis venenatis, luctus senectus, nullam orci donec nisl lectus enim vel, erat leo in morbi eu amet est. Lacus massa. Sed quam porttitor quam curabitur sem ac. Nunc faucibus, in est ac gravida, eu quis, dictumst varius libero dictum sed sed justo. Luctus pellentesque ultricies et justo conubia, vivamus pellentesque, cras tellus neque, erat eu dignissim eu a. Massa magna rutrum pharetra tellus.</p>
	{{> molecules-panel-body-close}}

{{> molecules-panel-main-close}}

{{{exiTransClose}}}