<label for="{{inputTextarea.id}}">Text Area Component</label>
<textarea class="{{inputTextarea.class}}" id="{{inputTextarea.id}}" name="{{inputTextarea.name}}" rows="{{inputTextarea.rows}}" cols="{{inputTextarea.cols}}"{{{inputTextarea.arialabel}}}{{{inputTextarea.ariadescribedby}}}{{{inputTextarea.disabled}}}>{{inputTextarea.placeholder}}</textarea>
