<!-- Radio Active -->
<div class="fpo-checkbox-wrapper">

	<div class="atoms-radio-button">
		{{>atoms-radio-button-open}}
			{{>atoms-radio-button-core}}
		{{>atoms-radio-button-close}}
	</div>

	<!-- 		<input type="{{inputRadio.type}}" name="{{inputRadio.name}}" id="{{inputRadio.id}}" value="{{inputRadio.value}}" {{inputRadio.checkedstate}}{{{arialabel}}}{{{ariadescribedby}}}{{{inputRadio.disabled}}}>
		<label for="{{inputRadio.id}}">Radio Button Label</label> -->
</div>


<!-- Radio Disabled -->
<div class="fpo-checkbox-wrapper">

	<div class="atoms-radio-button">
		{{>atoms-radio-button-open}}
			{{>atoms-radio-button-core-disabled}}
		{{>atoms-radio-button-close}}
	</div>

</div>


<!-- Radio Group -->
<div class="fpo-checkbox-wrapper">

	<div class="atoms-radio-button">
		<div class="radio-group">
		{{>atoms-radio-button-open}}
			{{>atoms-radio-button-core-group}}
		{{>atoms-radio-button-close}}
		</div>
	</div>

</div>

