<!-- CHECKBOX TOGGLE SMALL -->
<div class="fpo-checkbox-wrapper">

	<div class="atom-checkbox-toggle checkbox-toggle--sm">

		<input type="{{checkboxSmall.type}}" name="{{checkboxSmall.name}}" id="{{checkboxSmall.id}}" value="{{checkboxSmall.value}}" {{checkboxSmall.checkedstate}}{{{checkboxSmall.arialabel}}}{{{checkboxSmall.ariadescribedby}}}{{{checkboxSmall.disabled}}}>
		<label class="" for="{{checkboxSmall.id}}">Checkbox Toggle Small</label>

	</div>
	
</div>

<!-- CHECKBOX TOGGLE LARGE -->
<div class="fpo-checkbox-wrapper">

	<div class="atom-checkbox-toggle checkbox-toggle--lg">

		<input type="{{checkboxLarge.type}}" name="{{checkboxLarge.name}}" id="{{checkboxLarge.id}}" value="{{checkboxLarge.value}}" {{checkboxLarge.checkedstate}}{{{checkboxLarge.arialabel}}}{{{checkboxLarge.ariadescribedby}}}{{{checkboxLarge.disabled}}}>
		<label class="" for="{{checkboxLarge.id}}">Checkbox Toggle Large</label>

	</div>

</div>



<!-- DISABLED STATE -->
<div class="fpo-checkbox-wrapper">

	<div class="atom-checkbox-toggle checkbox-toggle--lg checkbox-toggle--disabled">

		<input type="{{checkboxLargeDisabled.type}}" name="{{checkboxLargeDisabled.name}}" id="{{checkboxLargeDisabled.id}}" value="{{checkboxLargeDisabled.value}}" {{checkboxLargeDisabled.checkedstate}}{{{checkboxLargeDisabled.arialabel}}} {{{checkboxLargeDisabled.ariadescribedby}}} {{{checkboxLargeDisabled.disabled}}}>
		<label class="{{{checkboxDisabledChecked.disabled}}}" for="{{checkboxLargeDisabled.id}}" disabled>Checkbox Toggle Large Disabled!</label>

	</div>

</div>

<!-- DISABLED & CHECKED STATE -->
<div class="fpo-checkbox-wrapper">

	<div class="atom-checkbox-toggle checkbox-toggle--lg checkbox-toggle--disabled--checked">

		<input type="{{checkboxDisabledChecked.type}}" name="{{checkboxDisabledChecked.name}}" id="{{checkboxDisabledChecked.id}}" value="{{checkboxDisabledChecked.value}}" {{checkboxDisabledChecked.checkedstate}} {{{checkboxDisabledChecked.arialabel}}} {{{checkboxDisabledChecked.ariadescribedby}}} {{{checkboxDisabledChecked.disabled}}}>
		<label class="{{{checkboxDisabledChecked.disabled}}}" for="{{checkboxDisabledChecked.id}}" disabled>Checkbox Toggle Large Disabled</label>

	</div>

</div>

