<label for="{{inputFileInput.id}}">Choose your file</label>
<input type="{{inputFileInput.type}}" name="{{inputFileInput.name}}" id="{{inputFileInput.id}}" value="{{inputFileInput.value}}" {{{inputFileInput.arialabel}}} {{{inputFileInput.ariadescribedby}}} {{{inputFileInput.placeholder}}} {{{inputFileInput.disabled}}} {{{inputFileInput.multiple}}}>
