
/*
TABLE OF CONTENTS
- Block 
  - Heading
  - Body
  - Footer
- Text
  - Headings
  - Links  
  - Horizontal Rules
  - Lists 
- Buttons
- Table
*/


/* BLOCK */
/* HEADING */
/* Adjust heading margin */
.exi-transitional main .mol-overview-block .mol-block--heading {
    padding-bottom: $padding-xxs;
}

    .exi-transitional main .mol-overview-block .mol-block--heading:after {
        display: block;
        content: "";
        clear: both;
    }

    .exi-transitional main .mol-overview-block .mol-block--heading h3 {
        float: left;
    }

        .exi-transitional main .mol-overview-block .mol-block--heading h3 .glyphicon {
            font-size: $text-size-lg;
        }

    /* Edit overview button */
    .exi-transitional main .mol-overview-block .mol-block--heading .mol-edit-overview-button {
        float: right;
        margin-top: .4rem;
    }

/* BODY */
/* Set body and footer backgrounds to gray */
.exi-transitional main .mol-overview-block .mol-block--body,
.exi-transitional main .mol-overview-block .mol-block--footer {
    background: #a09c95; /* $color-branding-background-5th */
    border: none;
}

    /* Empty Block  */
    .exi-transitional main .mol-overview-block .mol-block--body .mol-overview-block--empty {
        font-size: $text-size-lg;
        margin: 0 0 $margin-lg 0;
        padding: 0;
        color: $color-text-muted;
        text-align: center;
    }

    /* Empty Block Section  */
    .exi-transitional main .mol-overview-block .mol-block--body .mol-overview-block--emptysection {
        margin: 0 0 $margin-lg 0;
        padding: 0;
        color: $color-text-muted;
    }

/* FOOTER */
/* Adjust footer margin */
.exi-transitional main .mol-overview-block .mol-block--footer {
    margin-top: $margin-neg-lg;
    padding: $padding-lg;
}



/*----------------------------*/



/* TEXT */
/* HEADINGS */
.exi-transitional main .mol-overview-block h4,
.exi-transitional main .mol-overview-block h5,
.exi-transitional main .mol-overview-block h6 {
    color: $color-text-light;
    font-weight: $text-weight-default;
}

/* LINKS */
/* Set text elements to white */
.exi-transitional main .mol-overview-block a {
    color: $color-text-light;
}

/* HORIZONTAL RULE */
.exi-transitional main .mol-overview-block .mol-block--body hr {
    border-color: $color-border-default; 
}

/* LISTS */
.exi-transitional main .mol-overview-block .mol-block--body ul {
    list-style-type: none;
    padding: 0;
}

    .exi-transitional main .mol-overview-block .mol-block--body ul li {
        margin: 0 0 $margin-sm 0;
        padding: 0 0 0 $padding-xl;
        line-height: 1.2;
        background: -moz-radial-gradient(center, ellipse cover, rgba(143,138,131,1) 19%, rgba(143,138,131,0) 23%);
        background: -webkit-radial-gradient(center, ellipse cover, rgba(143,138,131,1) 19%,rgba(143,138,131,0) 23%);
        background: radial-gradient(ellipse at center, rgba(143,138,131,1) 19%,rgba(143,138,131,0) 23%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8a83', endColorstr='#008f8a83',GradientType=1 );
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }



/*----------------------------*/



/* TABLE */
.exi-transitional main .mol-overview-block table {
    table-layout: fixed;
    width: 100%;
    margin: 0 0 $margin-lg 0;
	border: none;
}

    .exi-transitional main .mol-overview-block table caption {
        color: $color-text-light;
    }

    .exi-transitional main .mol-overview-block table th,
    .exi-transitional main .mol-overview-block table td {
        width: auto;
        padding: .4rem 0 .4rem 0;
        @extend %border-bottom-default;
    }

    .exi-transitional main .mol-overview-block table tr:last-child th,
    .exi-transitional main .mol-overview-block table tr:last-child td {
        border-bottom: none;
    }

    .exi-transitional main .mol-overview-block table th {
        color: $color-text-light;
        font-weight: $text-weight-semibold;
        padding-right: $padding-lg;
    }

    .exi-transitional main .mol-overview-block table.table-checklist th {
        width: auto;
    }

    .exi-transitional main .mol-overview-block table.table-checklist td {
        width: 3rem;
    }

    .exi-transitional main .mol-overview-block table .glyphicon-ok,
    .exi-transitional main .mol-overview-block table .glyphicon-remove {
        font-size: $text-size-lg;
    }

    .exi-transitional main .mol-overview-block table .glyphicon-ok {
        color: $color-success-background;
    }

    .exi-transitional main .mol-overview-block table .glyphicon-remove {
        color: $color-danger-background;
    }

@media (max-width: 512px) {
    .exi-transitional main .mol-overview-block table th,
    .exi-transitional main .mol-overview-block table td {
        display: block;
        width: 100%;
        padding: .4rem 0 .4rem 0;
    }

    .exi-transitional main .mol-overview-block table th {
        padding-bottom: 0;
        border-bottom: none;
    }

    .exi-transitional main .mol-overview-block table.table-checklist th {
        display: table-cell;
        width: auto;
    }

    .exi-transitional main .mol-overview-block table.table-checklist td {
        display: table-cell;
        width: 3rem;
    }
}
