<h4>Transitions</h4>
<h5>Fade</h5>
<div class="transition-block transition transition-fade"></div>
<h5>Slide</h5>
<div class="transition-block transition transition-slide"></div>
<h5>Fade/Slide</h5>
<div class="transition-block transition transition-fadeslide"></div>

<h5>CSS</h5>
<pre>
  <code>
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  </code>
</pre>