<h3>Branding Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #eceef1;"></span>
    <span class="sg-label">
      Athens Gray
      <br />#eceef1
    </span>
  </li>
  <!--<li>
    <span class="sg-swatch" style="background: #ededed;"></span>
    <span class="sg-label">
      Full List Header Background 
      <br />#ededed
    </span>
  </li>-->
  <li>
    <span class="sg-swatch" style="background: #d2d6db;"></span>
    <span class="sg-label">
      Iron Gray <br />#d2d6db
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #a09c95;"></span>
    <span class="sg-label">
      Dawn Gray <br />#a09c95
    </span>
  </li>
  <!--<li>
    <span class="sg-swatch" style="background: #767676;"></span>
    <span class="sg-label">
      Boulder Gray <br />#767676
    </span>
  </li>-->
  <li>
    <span class="sg-swatch" style="background: #5c6368;"></span>
    <span class="sg-label">
      Shuttle Gray <br />#5c6368
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #42494e;"></span>
    <span class="sg-label">
      Mako Gray <br />#42494e
    </span>
  </li>
  <!--<li>
    <span class="sg-swatch" style="background: #393f43;"></span>
    <span class="sg-label">
      Space Gray <br />#393f43
    </span>
  </li>-->
  <li>
    <span class="sg-swatch" style="background: #333;"></span>
    <span class="sg-label">
      Mineshaft Gray <br />#333
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #94d2ff;"></span>
    <span class="sg-label">
      Anakiwa Blue <br />#94d2ff
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #337ab7;"></span>
    <span class="sg-label">
      Astral Blue <br />#337ab7
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2a6496;"></span>
    <span class="sg-label">
      Tropaz Blue <br />#2a6496
    </span>
  </li>
</ul>

<h3>Utility Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #007504;"></span>
    <span class="sg-label">
      Success Primary <br />#007504
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #def8df;"></span>
    <span class="sg-label">
      Success Secondary <br />#def8df
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #965800;"></span>
    <span class="sg-label">
      Caution Primary <br />#965800
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffeed2;"></span>
    <span class="sg-label">
      Caution Secondary <br />#ffeed2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ba0000;"></span>
    <span class="sg-label">
      Danger Primary <br />#ba0000
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffd5d5;"></span>
    <span class="sg-label">
      Danger Secondary <br />#ffd5d5
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d7edff;"></span>
    <span class="sg-label">
      Info Secondary<br /> #d7edff
    </span>
  </li>
</ul>

<!--
<h3>Message Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #e1e9ef;"></span>
    <span class="sg-label">
      Icon Background <br />#e1e9ef
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #a1b6c6;"></span>
    <span class="sg-label">
      Icon Color <br />#a1b6c6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #88c2e6;"></span>
    <span class="sg-label">
      Block <br />#88c2e6
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #4294ca;"></span>
    <span class="sg-label">
      Badge <br />#4294ca
    </span>
  </li>
</ul>

<h3>Task Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #fbf8e0;"></span>
    <span class="sg-label">
      Block Body <br />#fbf8e0
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e5e3cd;"></span>
    <span class="sg-label">
      Icon Background <br />#e5e3cd
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #afa991;"></span>
    <span class="sg-label">
      Icon Color <br />#afa991
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #eac075;"></span>
    <span class="sg-label">
      Block Heading <br />#eac075
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d98517;"></span>
    <span class="sg-label">
      Badge/Button <br />#d98517
    </span>
  </li>
</ul>
-->

<h3>Calendar Colors</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #c77ed0;"></span>
    <span class="sg-label">
      Highlight <br />#c77ed0
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #846e90;"></span>
    <span class="sg-label">
      Calendar Block Heading <br />#846e90
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #b4a000;"></span>
    <span class="sg-label">
      Advising <br />#b4a000
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9c9c9c;"></span>
    <span class="sg-label">
      Course <br />#9c9c9c
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #bb4b85;"></span>
    <span class="sg-label">
      External <br />#bb4b85
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00a79b;"></span>
    <span class="sg-label">
      Events <br />#00a79b
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6aa4c1;"></span>
    <span class="sg-label">
      Meetings <br />#6aa4c1
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #996633;"></span>
    <span class="sg-label">
      Employee <br />#996633
    </span>
  </li>
</ul>

<h3>Progress Bar / Chart Colors (In the order they should be used)</h3>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #7fbbce;"></span>
    <span class="sg-label">
      Halfbaked Blue <br />#7fbbce
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f6d96b;"></span>
    <span class="sg-label">
      Energy Yellow <br />#f6d96b
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #e37cb8;"></span>
    <span class="sg-label">
      Charisma Pink <br />#e37cb8
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #fcbb78;"></span>
    <span class="sg-label">
      Mac n Cheese Orange <br />#fcbb78
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7cdcba;"></span>
    <span class="sg-label">
      Bermuda Green <br />#7cdcba
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #994121;"></span>
    <span class="sg-label">
      Cumin Brown <br />#994121
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d1cb4d;"></span>
    <span class="sg-label">
      Turmeric Yellow <br />#d1cb4d
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5e63a1;"></span>
    <span class="sg-label">
      Scampi Purple <br />#5e63a1
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #a8383b;"></span>
    <span class="sg-label">
      Carmine Red <br />#a8383b
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #8a63a9;"></span>
    <span class="sg-label">
      Deluge Purple <br />#8a63a9
    </span>
  </li>
</ul>
