<ul class="list-unstyled icons">
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-filter" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-filter</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-course" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-course</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-idcard" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-idcard</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-childparent" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-childparent</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-parentchild" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-parentchild</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-permission" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-permission</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-session" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-session</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-hub" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-hub</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-place" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-place</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-space" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-space</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-flip" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-flip</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-reassign" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-reassign</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-events" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-events</span>
  </li>
  <li>
    <span class="glyphicon jzb-glyph-glyphicon-lock" aria-hidden="true"></span>
    <span>jzb-glyph-glyphicon-lock</span>
  </li>
</ul>