<{{modalXtag}} mode="{{modalXtagMode}}" header-text="{{modalXtagHeaderText}}" body-text="{{modalXtagBodyText}}" {{{modalXtagIsShown}}}>
<{{{modalTag}}}{{{modalClass}}}{{{modalId}}}{{{modalTabIndex}}}{{{modalRole}}}{{{modalAriaLabelledBy}}}{{{modalType}}}>
    <{{{modalLev2Tag}}}{{{modalLev2Class}}}{{{modalLev2Role}}}>
        <{{{modalLev3Tag}}}{{{modalLev3Class}}}>