{{{fexiTransitionalOpen}}}

<div class="{{formGroup}} mol-multiselect-dropdown">
  <label for="multiselect-dropdown">Keyword Search</label>
  <select class="js-example-basic-multiple js-states {{formClass}}" id="multiselect-dropdown" multiple="multiple">
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="TX">Texas</option>
    <option value="VA">Virginia</option>
    <option value="WY">Wyoming</option>
  </select>
</div>

{{{exiTransitionalClose}}}