{{{exiTransitionalOpen}}}

<!-- Full List Table start -->
<table class="table footable footable-1 mol-full-list-table" aria-labelledby="full-list-title">
    <thead>
        <tr class="footable-header">
            <th class="footable-sortable" scope="col" style="width: 80px; max-width: 80px; display: none;">
                ID
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable footable-first-visible" scope="col" style="display: table-cell;">
                First Name
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable" scope="col" style="display: table-cell;">
                Last Name
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable" scope="col" style="display: none;">
                Never seen but always around
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable" scope="col" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">
                Job Title
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable" scope="col" style="display: none;">
                Started On
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable" scope="col" style="display: none;">
                Date of Birth
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
            <th class="footable-sortable footable-last-visible" scope="col" style="display: table-cell;">
                Status
                {{# fullListSortIcon}}
				{{> atoms-button-core}}
				{{/ fullListSortIcon}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width: 80px; max-width: 80px; display: none;">2</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Nelly
            </td>
            <td style="display: table-cell;">Lusher</td>
            <td style="display: none;">1267237540208</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Broadcast Maintenance Engineer</td>
            <td style="display: none;">1382739570973</td>
            <td style="display: none;">183768652128</td>
            <td class="footable-last-visible" style="display: table-cell;">Inactive</td>
        </tr>
        <tr>
            <td style="width: 80px; max-width: 80px; display: none;">3</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Lorraine
            </td>
            <td style="display: table-cell;">Kyger</td>
            <td style="display: none;">1263216405811</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Geophysicist</td>
            <td style="display: none;">1265199486212</td>
            <td style="display: none;">414197000409</td>
            <td class="footable-last-visible" style="display: table-cell;">Active</td>
        </tr>
        <tr>
            <td style="width: 80px; max-width: 80px; display: none;">4</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Maire
            </td>
            <td style="display: table-cell;">Vanatta</td>
            <td style="display: none;">1317652005631</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Gaming Cage Cashier</td>
            <td style="display: none;">1359190254082</td>
            <td style="display: none;">381574699574</td>
            <td class="footable-last-visible" style="display: table-cell;">Inactive</td>
        </tr>
        <tr class="row-inactive">
            <td style="width: 80px; max-width: 80px; display: none;">5</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Whiney
            </td>
            <td style="display: table-cell;">Keasler</td>
            <td style="display: none;">1297738568550</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">High School Librarian</td>
            <td style="display: none;">1377538533615</td>
            <td style="display: none;">-11216050657</td>
            <td class="footable-last-visible" style="display: table-cell;">Active</td>
        </tr>
        <tr class="row-past">
            <td style="width: 80px; max-width: 80px; display: none;">6</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Nikia
            </td>
            <td style="display: table-cell;">Badgett</td>
            <td style="display: none;">1283192889859</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Clown</td>
            <td style="display: none;">1348067291754</td>
            <td style="display: none;">-236655382175</td>
            <td class="footable-last-visible" style="display: table-cell;">Active</td>
        </tr>
        <tr class="row-success">
            <td style="width: 80px; max-width: 80px; display: none;">7</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Renea
            </td>
            <td style="display: table-cell;">Stever</td>
            <td style="display: none;">1289586239969</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Work Ticket Distributor</td>
            <td style="display: none;">1312738712940</td>
            <td style="display: none;">483475202947</td>
            <td class="footable-last-visible" style="display: table-cell;">Disabled</td>
        </tr>
        <tr class="row-warning">
            <td style="width: 80px; max-width: 80px; display: none;">8</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Rayna
            </td>
            <td style="display: table-cell;">Resler</td>
            <td style="display: none;">1351969871214</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Ordnance Engineer</td>
            <td style="display: none;">1300981406722</td>
            <td style="display: none;">267565804332</td>
            <td class="footable-last-visible" style="display: table-cell;">Disabled</td>
        </tr>
        <tr class="row-danger">
            <td style="width: 80px; max-width: 80px; display: none;">9</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Sephnie
            </td>
            <td style="display: table-cell;">Cooke</td>
            <td style="display: none;">1318107009703</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Accounts Collector</td>
            <td style="display: none;">1348566414201</td>
            <td style="display: none;">84698632860</td>
            <td class="footable-last-visible" style="display: table-cell;">Suspended</td>
        </tr>
        <tr>
            <td style="width: 80px; max-width: 80px; display: none;">10</td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Lauri
            </td>
            <td style="display: table-cell;">Kyles</td>
            <td style="display: none;">1298847936600</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Commercial Lender</td>
            <td style="display: none;">1306984494872</td>
            <td style="display: none;">647549298565</td>
            <td class="footable-last-visible" style="display: table-cell;">Disabled</td>
        </tr>
        <tr>
            <td class="" style="width: 80px; max-width: 80px; display: none;">11</td>
            <td style="display: table-cell;" class="footable-first-visible">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Maria
            </td>
            <td style="display: table-cell;">Hosler</td>
            <td style="display: none;">1372447291002</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Auto Detailer</td>
            <td style="display: none;">Jan 2011</td>
            <td style="display: none;">09 Dec 1972</td>
            <td class="footable-last-visible" style="display: table-cell;">Suspended</td>
        </tr>
        <tr data-expanded="true">
            <td style="width: 80px; max-width: 80px; display: none;"></td>
            <td class="footable-first-visible" style="display: table-cell;">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    <span class="sr-only">Collapse this table row</span>
                </button>Annemarie
            </td>
            <td style="display: table-cell;">Bruening</td>
            <td style="display: none;">1381105566987</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td class="footable-last-visible" style="display: table-cell;">Suspended</td>
        </tr>
        <tr class="footable-detail-row">
            <td colspan="3">
                <table class="footable-details table">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td style="width: 80px; max-width: 80px; display: table-cell;">11</td>
                        </tr>
                        <tr>
                            <th>Job Title</th>
                            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: table-cell;">Cloak Room Attendant</td>
                        </tr>
                        <tr>
                            <th>Started On</th>
                            <td style="display: table-cell;">1367700388909</td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td style="display: table-cell;">122365714987</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="" style="width: 80px; max-width: 80px; display: none;">12</td>
            <td style="display: table-cell;" class="footable-first-visible">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Lakeshia
            </td>
            <td style="display: table-cell;">Sprinkle</td>
            <td style="display: none;">1296451003728</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Garment Presser</td>
            <td style="display: none;">Oct 2012</td>
            <td style="display: none;">12 Mar 1970</td>
            <td class="footable-last-visible" style="display: table-cell;">Suspended</td>
        </tr>
        <tr>
            <td class="" style="width: 80px; max-width: 80px; display: none;">13</td>
            <td style="display: table-cell;" class="footable-first-visible">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Isidra
            </td>
            <td style="display: table-cell;">Dragoo</td>
            <td style="display: none;">1285852466255</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Window Trimmer</td>
            <td style="display: none;">Jan 2010</td>
            <td style="display: none;">09 Feb 1974</td>
            <td class="footable-last-visible" style="display: table-cell;">Active</td>
        </tr>
        <tr>
            <td class="" style="width: 80px; max-width: 80px; display: none;">14</td>
            <td style="display: table-cell;" class="footable-first-visible">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Marquia
            </td>
            <td style="display: table-cell;">Ardrey</td>
            <td style="display: none;">1336968147859</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Broadcast Maintenance Engineer</td>
            <td style="display: none;">Aug 2010</td>
            <td style="display: none;">15 Mar 1972</td>
            <td class="footable-last-visible" style="display: table-cell;">Disabled</td>
        </tr>
        <tr>
            <td class="" style="width: 80px; max-width: 80px; display: none;">15</td>
            <td style="display: table-cell;" class="footable-first-visible">
                <button class="footable-toggle btn btn-link">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="sr-only">Expand this table row</span>
                </button>Jua
            </td>
            <td style="display: table-cell;">Bottom</td>
            <td style="display: none;">1322560108993</td>
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; display: none;">Broadcast Maintenance Engineer</td>
            <td style="display: none;">Oct 2012</td>
            <td style="display: none;">06 Aug 1982</td>
            <td class="footable-last-visible" style="display: table-cell;">Active</td>
        </tr>
    </tbody>
</table>
<!-- Full List Table end -->

{{{exiTransitionalClose}}}