@font-face {
	font-family: 'jzb-icon-set';
	src:url('../fonts/jzb-icon-set.eot?-2q0owe');
	src:url('../fonts/jzb-icon-set.eot?#iefix-2q0owe') format('embedded-opentype'),
		url('../fonts/jzb-icon-set.woff?-2q0owe') format('woff'),
		url('../fonts/jzb-icon-set.ttf?-2q0owe') format('truetype'),
		url('../fonts/jzb-icon-set.svg?-2q0owe#jzb-icon-set') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="jzb-glyph-"], [class*=" jzb-glyph-"] {
	font-family: 'jzb-icon-set';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jzb-glyph-glyphicon-lock:before {content: "\e600";}
.jzb-glyph-glyphicon-hub:before {content: "\e601";}
.jzb-glyph-glyphicon-place:before {content: "\e602";}
.jzb-glyph-glyphicon-space:before {content: "\e603";}
.jzb-glyph-glyphicon-flip:before {content: "\e604";}
.jzb-glyph-glyphicon-reassign:before {content: "\e605";}
.jzb-glyph-glyphicon-events:before {content: "\e606";}
.jzb-glyph-glyphicon-session:before {content: "\e607";}
.jzb-glyph-glyphicon-permission:before {content: "\e608";}
.jzb-glyph-glyphicon-parentchild:before {content: "\e609";}
.jzb-glyph-glyphicon-childparent:before {content: "\e610";}
.jzb-glyph-glyphicon-idcard:before {content: "\e611"; color: #428BCA !important;}
.jzb-glyph-glyphicon-course:before {content: "\e612";}
.jzb-glyph-glyphicon-filter:before {content: "\e613";}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}