<!-- SKIP NAVIGATION START -->
<div class="mol-skip-navigation demo-only" role="complementary">
    <h2>Skip Navigation</h2>
</div>
<!-- SKIP NAVIGATION END -->

<!-- GLOBAL HEADER START -->
<header class="org-global-header demo-only" aria-label="Global Navigation, Search and User Settings">
    <h1>Global Header</h1>
</header>
<!-- GLOBAL HEADER END -->

<!-- PAGE-LEVEL HEADER START -->
<section class="org-page-header demo-only" role="region" aria-label="Page-Level Header and Navigation">
    <header>
        <h2>Page Header</h2>
    </header>
</section>
<!-- PAGE-LEVEL HEADER END -->

<!-- PAGE BANNER/ALERT SECTION START -->
<section class="org-page-banner-area demo-only" role="region">
    <h3>Banners/Alerts</h3>
</section>
<!-- PAGE BANNER/ALERT SECTION END -->

<!-- PAGE BODY START -->
<main class="org-page-body demo-only" aria-label="Main Content">
    <h3>Body</h3>
</main>
<!-- PAGE BODY END -->

<!-- PAGE FOOTER START -->
<footer class="org-page-footer demo-only">
    <h2>Footer</h2>
</footer>
<!-- PAGE FOOTER END -->