<div class="ph-demo-container">
    <div class="ph-demo-global-header">
        Global Header FPO
    </div>

        <!-- PAGE HEADER START -->
        <section class="page-header-wrapper">
            <header id="page-header" class="org-page-header" role="banner" aria-label="This page's title and navigation">

                <!-- Page Title -->
                <h2 class="mol-page-title">Example Page Title</h2>
                
                <!-- Page Glyphicon/Link start -->
                <a href="home.html" class="mol-page-header-icon">
                    <span class="glyphicon jzb-glyph-glyphicon-hub" aria-hidden="true"></span>
                    <span class="sr-only">Back to hub home</span>
                </a>
                
                <!-- Secondary header content start -->
                <div class="org-page-header--int-content" role="group"> 
                    <ul class="hub-list">
                        <li>Label 1: Item 1</li>
                        <li>Label 2: Item 2</li>
                        <li>Label 3: Item 3</li>
                        <li><a href="foo.html">Test Link</a></li>
                    </ul>
                </div>

                <!-- Hub Options Dropdown start -->
                <div class="btn-group mol-button-dropdown">
                    <button class="btn btn-sm dropdown-toggle btn-navigation hub-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hub options <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown Heading</li>
                        <li><a href="foo.html">Dropdown option 1</a></li>
                        <li><a href="foo2.html">Dropdown option 2</a></li>
                        <li role="separator" class="divider"></li>
                        <li><button type="button" disabled>Button option</button></li>
                    </ul>
                </div>

                <!-- Page toolbar -->
                {{> molecules-page-header-toolbar }}
            </header>
        </section>
        <!-- PAGE HEADER END -->

        <main class="ph-demo-main">
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in sem nec odio consectetur vestibulum. Vivamus a justo et turpis pharetra lobortis. Etiam blandit, nisl vitae congue posuere, orci urna sollicitudin erat, ut eleifend tortor metus vel nisi. Phasellus massa arcu, hendrerit id magna a, pulvinar varius augue. Pellentesque tristique, lacus vel vulputate euismod, metus tortor vulputate arcu, et hendrerit justo erat in sapien. Etiam tempus maximus lobortis. Duis tristique est nibh, eu faucibus felis eleifend ac. Proin at diam id turpis ultrices venenatis. Phasellus euismod sapien hendrerit, molestie nibh vel, tincidunt nunc.</p>

            <p>Fusce suscipit turpis ut lorem venenatis blandit sed sodales arcu. Donec nec risus vel arcu ultrices vehicula at eget dolor. Morbi quis cursus massa, sit amet accumsan lacus. In hac habitasse platea dictumst. Vivamus consectetur dui vel ante scelerisque, id semper nulla auctor. Cras lobortis metus nec urna congue venenatis. Suspendisse aliquam eget metus maximus aliquet. Praesent quis tortor et urna suscipit dignissim ac at justo. Praesent ac risus non ante efficitur convallis. Sed eleifend odio ut ligula viverra pretium. Sed gravida ligula et accumsan consectetur. Morbi non tortor dignissim, mollis turpis ut, iaculis risus.</p>

            <p>Suspendisse suscipit vitae nibh a commodo. Cras tincidunt pulvinar ipsum, a ullamcorper nibh aliquet eu. Aenean suscipit a enim vitae aliquet. Etiam pulvinar a tortor vel euismod. Integer congue finibus tincidunt. Donec mattis dui vel nisi dictum, quis efficitur nisl mattis. Sed vel imperdiet justo, eu facilisis tellus. Nunc lobortis diam at venenatis cursus. Maecenas et libero ut lorem fringilla viverra at id tellus. Morbi vel orci eget dui auctor varius. Curabitur ut ante ut lorem dapibus luctus. Suspendisse posuere velit ante, maximus gravida nulla feugiat ut.</p>

            <p>Proin congue sit amet tellus sit amet maximus. Pellentesque convallis, lacus non fringilla tempus, erat dui pretium felis, non euismod ante arcu vel metus. Phasellus mi enim, sollicitudin sit amet metus tincidunt, egestas ultricies est. Integer condimentum lobortis ligula vel tempus. Vestibulum tempor sem eget nulla blandit varius. Pellentesque a egestas nisl. In hac habitasse platea dictumst. Donec tristique velit at metus gravida tempor. Donec nec massa nisi. Aliquam elit dolor, iaculis vel fringilla et, gravida non nulla. Duis semper laoreet mattis. Etiam eget tellus at odio facilisis tempus.</p>

            <p>Nullam elementum justo eget odio porta vehicula. In turpis justo, suscipit id urna eget, imperdiet hendrerit nunc. Proin varius non nulla et accumsan. Sed et condimentum quam, sit amet pellentesque lorem. Proin efficitur sed orci in commodo. Duis sed diam pulvinar, vestibulum ex ac, consectetur tortor. Maecenas condimentum congue faucibus. Aliquam sit amet quam rutrum, rutrum ipsum id, consequat risus. Vivamus quis nisl et lectus volutpat bibendum sed non nisl. Maecenas felis sem, ultricies in nunc non, volutpat euismod arcu. Praesent quis turpis ante. In ullamcorper facilisis ligula ac elementum. Praesent eu sem tellus. Phasellus turpis risus, vulputate et odio eu, porttitor feugiat nibh. Curabitur gravida ut odio in mattis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in sem nec odio consectetur vestibulum. Vivamus a justo et turpis pharetra lobortis. Etiam blandit, nisl vitae congue posuere, orci urna sollicitudin erat, ut eleifend tortor metus vel nisi. Phasellus massa arcu, hendrerit id magna a, pulvinar varius augue. Pellentesque tristique, lacus vel vulputate euismod, metus tortor vulputate arcu, et hendrerit justo erat in sapien. Etiam tempus maximus lobortis. Duis tristique est nibh, eu faucibus felis eleifend ac. Proin at diam id turpis ultrices venenatis. Phasellus euismod sapien hendrerit, molestie nibh vel, tincidunt nunc.
            </p>
            <p>Fusce suscipit turpis ut lorem venenatis blandit sed sodales arcu. Donec nec risus vel arcu ultrices vehicula at eget dolor. Morbi quis cursus massa, sit amet accumsan lacus. In hac habitasse platea dictumst. Vivamus consectetur dui vel ante scelerisque, id semper nulla auctor. Cras lobortis metus nec urna congue venenatis. Suspendisse aliquam eget metus maximus aliquet. Praesent quis tortor et urna suscipit dignissim ac at justo. Praesent ac risus non ante efficitur convallis. Sed eleifend odio ut ligula viverra pretium. Sed gravida ligula et accumsan consectetur. Morbi non tortor dignissim, mollis turpis ut, iaculis risus.</p>

            <p>Suspendisse suscipit vitae nibh a commodo. Cras tincidunt pulvinar ipsum, a ullamcorper nibh aliquet eu. Aenean suscipit a enim vitae aliquet. Etiam pulvinar a tortor vel euismod. Integer congue finibus tincidunt. Donec mattis dui vel nisi dictum, quis efficitur nisl mattis. Sed vel imperdiet justo, eu facilisis tellus. Nunc lobortis diam at venenatis cursus. Maecenas et libero ut lorem fringilla viverra at id tellus. Morbi vel orci eget dui auctor varius. Curabitur ut ante ut lorem dapibus luctus. Suspendisse posuere velit ante, maximus gravida nulla feugiat ut.</p>

            <p>Proin congue sit amet tellus sit amet maximus. Pellentesque convallis, lacus non fringilla tempus, erat dui pretium felis, non euismod ante arcu vel metus. Phasellus mi enim, sollicitudin sit amet metus tincidunt, egestas ultricies est. Integer condimentum lobortis ligula vel tempus. Vestibulum tempor sem eget nulla blandit varius. Pellentesque a egestas nisl. In hac habitasse platea dictumst. Donec tristique velit at metus gravida tempor. Donec nec massa nisi. Aliquam elit dolor, iaculis vel fringilla et, gravida non nulla. Duis semper laoreet mattis. Etiam eget tellus at odio facilisis tempus.</p>

            <p>Nullam elementum justo eget odio porta vehicula. In turpis justo, suscipit id urna eget, imperdiet hendrerit nunc. Proin varius non nulla et accumsan. Sed et condimentum quam, sit amet pellentesque lorem. Proin efficitur sed orci in commodo. Duis sed diam pulvinar, vestibulum ex ac, consectetur tortor. Maecenas condimentum congue faucibus. Aliquam sit amet quam rutrum, rutrum ipsum id, consequat risus. Vivamus quis nisl et lectus volutpat bibendum sed non nisl. Maecenas felis sem, ultricies in nunc non, volutpat euismod arcu. Praesent quis turpis ante. In ullamcorper facilisis ligula ac elementum. Praesent eu sem tellus. Phasellus turpis risus, vulputate et odio eu, porttitor feugiat nibh. Curabitur gravida ut odio in mattis.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in sem nec odio consectetur vestibulum. Vivamus a justo et turpis pharetra lobortis. Etiam blandit, nisl vitae congue posuere, orci urna sollicitudin erat, ut eleifend tortor metus vel nisi. Phasellus massa arcu, hendrerit id magna a, pulvinar varius augue. Pellentesque tristique, lacus vel vulputate euismod, metus tortor vulputate arcu, et hendrerit justo erat in sapien. Etiam tempus maximus lobortis. Duis tristique est nibh, eu faucibus felis eleifend ac. Proin at diam id turpis ultrices venenatis. Phasellus euismod sapien hendrerit, molestie nibh vel, tincidunt nunc.</p>

            <p>Fusce suscipit turpis ut lorem venenatis blandit sed sodales arcu. Donec nec risus vel arcu ultrices vehicula at eget dolor. Morbi quis cursus massa, sit amet accumsan lacus. In hac habitasse platea dictumst. Vivamus consectetur dui vel ante scelerisque, id semper nulla auctor. Cras lobortis metus nec urna congue venenatis. Suspendisse aliquam eget metus maximus aliquet. Praesent quis tortor et urna suscipit dignissim ac at justo. Praesent ac risus non ante efficitur convallis. Sed eleifend odio ut ligula viverra pretium. Sed gravida ligula et accumsan consectetur. Morbi non tortor dignissim, mollis turpis ut, iaculis risus.</p>

            <p>Suspendisse suscipit vitae nibh a commodo. Cras tincidunt pulvinar ipsum, a ullamcorper nibh aliquet eu. Aenean suscipit a enim vitae aliquet. Etiam pulvinar a tortor vel euismod. Integer congue finibus tincidunt. Donec mattis dui vel nisi dictum, quis efficitur nisl mattis. Sed vel imperdiet justo, eu facilisis tellus. Nunc lobortis diam at venenatis cursus. Maecenas et libero ut lorem fringilla viverra at id tellus. Morbi vel orci eget dui auctor varius. Curabitur ut ante ut lorem dapibus luctus. Suspendisse posuere velit ante, maximus gravida nulla feugiat ut.</p>

        </main>

</div>       

<script type="text/javascript">

    // $(window).scroll(function() {
    //  $(".org-page-header").toggleClass("page-header-shrink", $(this).scrollTop() > 50);
    //  $(".org-page-header__int-content").toggleClass("visually-hidden", $(this).scrollTop() > 50);
    // });

    // resize header by toggling class, we're also hiding elements on scroll here
    $(function(){
    
    var shrinkHeader = 300;
    
    $(window).scroll(function() {
        var scroll = getCurrentScroll();
      if ( scroll >= shrinkHeader ) {
           $('.org-page-header').addClass('page-header-shrink');
        }
        else {
            $('.org-page-header').removeClass('page-header-shrink');
        }
    });

    $(window).scroll(function() {
     $(".org-page-header--int-content").toggleClass("visually-hidden", $(this).scrollTop() > 300);
    });

    function getCurrentScroll() {
        return window.pageYOffset || document.documentElement.scrollTop;
        }
    });




</script>