<!-- Page Structure MAIN start (here for context, not part of this organism) -->
<main aria-label="Main Content">

  <div class="row">
    {{#pagebodyStyle1}}
    {{> organisms-page-body-open}}
    {{/pagebodyStyle1}}

    {{> organisms-page-body-heading-open}}
    <!-- Page Body Title -->
    <h3>Page Body Title (Default Style)</h3>

    {{> molecules-help-button}}
    {{> organisms-page-body-heading-close}}

    {{> organisms-page-body-body-open}}
    <h4>Section Title (H4)</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
      <h5>Section Title (H5)</h5>
      <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>
      <h6>Section Title (H6)</h6>
      <p>Suspendisse potenti. Praesent tincidunt nunc et mauris dignissim, et porta sapien rutrum. Duis volutpat, massa ac feugiat iaculis, urna mauris rutrum felis, in semper sem ligula vitae ligula. Mauris porta posuere odio non efficitur. Pellentesque nulla lacus, egestas tempor elementum in, ultrices sed risus. Praesent feugiat urna elit, ac efficitur ipsum posuere sed. Ut vel sagittis elit. Curabitur efficitur lacus non magna maximus, et fermentum risus tempor.</p>
    {{> organisms-page-body-body-close}}

    {{> organisms-page-body-footer-open}}
      <a href="page-body-footer-link.html">Optional footer link</a>
    {{> organisms-page-body-footer-close}}

    {{> organisms-page-body-close}}

  </div>
  <!-- row end -->


  <div class="row">

    {{#pagebodyStyle2}}
    {{> organisms-page-body-open}}
    {{/pagebodyStyle2}}

    {{> organisms-page-body-heading-open}}
    <!-- Page Body Title -->
    <h3>Page Body Title (Filled Style)</h3>

    {{> molecules-help-button}}
    {{> organisms-page-body-heading-close}}

    {{> organisms-page-body-body-open}}
    <h4>Section Title (H4)</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
    <h5>Section Title (H5)</h5>
    <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>
    <h6>Section Title (H6)</h6>
    <p>Suspendisse potenti. Praesent tincidunt nunc et mauris dignissim, et porta sapien rutrum. Duis volutpat, massa ac feugiat iaculis, urna mauris rutrum felis, in semper sem ligula vitae ligula. Mauris porta posuere odio non efficitur. Pellentesque nulla lacus, egestas tempor elementum in, ultrices sed risus. Praesent feugiat urna elit, ac efficitur ipsum posuere sed. Ut vel sagittis elit. Curabitur efficitur lacus non magna maximus, et fermentum risus tempor.</p>
    {{> organisms-page-body-body-close}}

    {{> organisms-page-body-close}}

  </div>
  <!-- row end -->


  <div class="row">
    
    {{#pagebodyStyle3}}
    {{> organisms-page-body-open}}
    {{/pagebodyStyle3}}

    {{> organisms-page-body-heading-open}}
    <!-- Page Body Title -->
    <h3>Page Body Title (Outside Style)</h3>

    {{> molecules-help-button}}
    {{> organisms-page-body-heading-close}}

    {{> organisms-page-body-body-open}}
    <h4>Section Title (H4)</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, velit dictum posuere molestie, lacus turpis porta quam, nec bibendum ligula dolor vitae magna. Suspendisse lobortis, leo non sollicitudin facilisis, ante est faucibus quam, sit amet rutrum purus massa et elit. Aliquam viverra risus quis vulputate semper. Ut dapibus turpis a elementum dignissim. Nullam pharetra tempor sapien, ac vulputate mi maximus nec.</p>
    <h5>Section Title (H5)</h5>
    <p>In sodales iaculis sem non fringilla. Aliquam vehicula eget ligula a efficitur. Etiam consequat orci nec volutpat luctus. Morbi augue quam, fermentum ut metus in, aliquam porta lorem. Vivamus a sapien non libero iaculis porta eu non nulla. Pellentesque porta ligula lacus, in interdum nulla accumsan sed.</p>
    <h6>Section Title (H6)</h6>
    <p>Suspendisse potenti. Praesent tincidunt nunc et mauris dignissim, et porta sapien rutrum. Duis volutpat, massa ac feugiat iaculis, urna mauris rutrum felis, in semper sem ligula vitae ligula. Mauris porta posuere odio non efficitur. Pellentesque nulla lacus, egestas tempor elementum in, ultrices sed risus. Praesent feugiat urna elit, ac efficitur ipsum posuere sed. Ut vel sagittis elit. Curabitur efficitur lacus non magna maximus, et fermentum risus tempor.</p>
    {{> organisms-page-body-body-close}}

    {{> organisms-page-body-close}}

  </div>
  <!-- row end -->

</main>
<!-- Page Structure MAIN end -->