
  <!-- begin actual alert warning block -->
  <div class="org-validation-bar alert alert-warning" role="alert">
    <!-- <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> -->
    {{{glyphicon-info}}}
    <span class="warning-text">Please enter a valid time.</span>
  </div>
  