

<footer class="org-page-footer">
    <p class="copyright">© 2018 Jenzabar, Inc.</p>
    <p class="release-details">EXi 8.0.0 | Database DEV_800</p>

	<!-- show links for devs -->
    <div class="subfooter">
		<a id="MainTCLink" href="#">Show Technical Documentation Link(s)</a>
	</div>
</footer>