<div class="text-xs text-muted mol-advanced-filter-control-bar">
  {{#buttonAdvFilterControlBarClear}}
  {{> atoms-button-core}}
  {{/buttonAdvFilterControlBarClear}} |
  {{#buttonAdvFilterControlBarReset}}
  {{> atoms-button-core}}
  {{/buttonAdvFilterControlBarReset}}
  
</div>
