<div class="{{formGroup}} mol-advanced-filter-multiselect-dropdown">
  {{#advfilterCheckboxMultiselect}}
  {{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxMultiselect}}

  {{# molAdvfilterMultiselectDropdown}}
  {{> molecules-multiselect-dropdown}}
  {{/ molAdvfilterMultiselectDropdown}}

</div>
