<div class="{{formGroup}} mol-advanced-filter-typeahead-dropdown">
  {{#advfilterCheckboxTypeahead}}
  	{{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxTypeahead}}
  
</div>

<div class="{{formGroup}} mol-advanced-filter-typeahead-dropdown">

  {{# molAdvfilterTypeaheadDropdown}}
  	{{>molecules-typeahead-dropdown-multiple-core}}
  {{/ molAdvfilterTypeaheadDropdown}}

</div>

<!-- <div class="{{formGroup}} mol-advanced-filter-typeahead-dropdown">
  {{#advfilterCheckboxTypeahead}}
  	{{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxTypeahead}}
  
</div>

<div class="{{formGroup}} mol-advanced-filter-typeahead-dropdown">

  {{# molAdvfilterTypeaheadDropdown}}
  	{{>molecules-typeahead-dropdown-single-core}}
  {{/ molAdvfilterTypeaheadDropdown}}

</div> -->