<div class="{{formGroup}} mol-advanced-filter-select-input">
  {{#advfilterCheckbox}}
  {{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckbox}}

  {{#molSelectInput}}
    {{> molecules-select-input }}
  {{/molSelectInput}}
</div>
