<p class="text-size-xl">
  This is extra large text.
</p>

<p class="text-size-lg">
  This is large text.
</p>

<p>
  This is default text.
</p>

<p class="text-size-sm">
  This is small text.
</p>

<p class="text-size-xs">
  This is extra small text.
</p>

<p>
  <a href="#">This is a text link</a>
</p>

<p>
  <strong>Strong is used to indicate strong importance</strong>
</p>

<p>
  <em>This text has added emphasis</em>
</p>

<p>
  <s>This text has a strikethrough</s>
</p>

<p>
  Superscript<sup>®</sup>
</p>

<p>
  Subscript for things like H<sub>2</sub>O
</p>

<p>
  Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr>
</p>

