<button type="button" id="{{buttonId}}" class="{{buttonClass}}"{{{buttonDataToggle}}}{{{buttonAriaPopup}}}{{{buttonAriaExpanded}}}{{{buttonAriaLabel}}}{{{buttonTitle}}}{{buttonDisabled}}>
  {{{buttonGlyphicon}}}{{{buttonSronly1}}}{{{buttonText}}}{{{buttonSronly2}}}{{{buttonGlyphicon2}}}{{{buttonCaret}}}
</button>