<h4 class="pl-demo">Base</h4>
{{> atoms-button-core}}

<a href="text.html" role="button" class="atom-button">Using anchor tag</a>

<hr class="pl-demo" />

<h4 class="pl-demo">Themed</h4>
{{#atom-buttonDefault}}
{{> atoms-button-core}}
{{/atom-buttonDefault}} 

{{#atom-buttonPrimary}}
{{> atoms-button-core}}
{{/atom-buttonPrimary}} 

{{#atom-buttonSuccess}}
{{> atoms-button-core}}
{{/atom-buttonSuccess}} 

{{#atom-buttonWarning}}
{{> atoms-button-core}}
{{/atom-buttonWarning}} 

{{#atom-buttonDanger}}
{{> atoms-button-core}}
{{/atom-buttonDanger}} 

{{#atom-buttonText}}
{{> atoms-button-core}}
{{/atom-buttonText}}

<hr class="pl-demo" />

<h4 class="pl-demo">Disabled</h4>
{{#atom-buttonDefaultDisabled}}
{{> atoms-button-core}}
{{/atom-buttonDefaultDisabled}} 

{{#atom-buttonPrimaryDisabled}}
{{> atoms-button-core}}
{{/atom-buttonPrimaryDisabled}} 

{{#atom-buttonSuccessDisabled}}
{{> atoms-button-core}}
{{/atom-buttonSuccessDisabled}} 

{{#atom-buttonWarningDisabled}}
{{> atoms-button-core}}
{{/atom-buttonWarningDisabled}} 

{{#atom-buttonDangerDisabled}}
{{> atoms-button-core}}
{{/atom-buttonDangerDisabled}} 

{{#atom-buttonTextDisabled}}
{{> atoms-button-core}}
{{/atom-buttonTextDisabled}}

<hr class="pl-demo" />

<h4 class="pl-demo">Sizes</h4>
{{#atom-buttonSizeXsmall}}
{{> atoms-button-core}}
{{/atom-buttonSizeXsmall}}

{{#atom-buttonSizeSmall}}
{{> atoms-button-core}}
{{/atom-buttonSizeSmall}}

{{#atom-buttonSizeDefault}}
{{> atoms-button-core}}
{{/atom-buttonSizeDefault}}

{{#atom-buttonSizeLarge}}
{{> atoms-button-core}}
{{/atom-buttonSizeLarge}}