<div class="{{molcoreFormGroupClass}}{{molcoreMolClass}}"{{{molcoreMolId}}}>
  <label{{{molcoreLabelClass}}}{{{molcoreLabelId}}} for="{{molcoreLabelFor}}">
    {{molcoreLabelTextPos1}}{{{molcoreLabelDesc}}}
    {{{molcoreHint}}}
    {{{molcoreLabelClosePos1}}}
  {{> atoms-text-field }}
  {{molcoreLabelTextPos2}}{{{molcoreLabelClosePos2}}}
  {{{molcoreAlert}}}
</div>

