<div class="{{formGroup}} mol-multiselect-dropdown{{molClass}}">
  {{{molLabel}}}
  <select class="{{selectClass}}" {{{molId}}} {{{molMultiple}}}>
    {{{option1}}}
    {{{option2}}}
    {{{option3}}}
    {{{option4}}}
    {{{option5}}}
  </select>
</div>