<div class="col-xs-12 col-md-6 mol-advanced-filter-toggle">
  {{#buttonAdvFilterToggle}}
    {{> atoms-button-core}}
  {{/buttonAdvFilterToggle}}
  
  <div class="entities-displayed">0 [Entities] displayed</div>
</div>
