<div class="{{formGroup}} mol-advanced-filter-expandable-date-input">
  {{#advfilterCheckboxDate}}
  {{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxDate}}

  {{! JSON Context: molDefaultInput }}
  {{> molecules-date-input}}
</div>
