<div class="{{formGroup}} mol-advanced-filter-text-input">
  {{#advfilterCheckboxText}}
  {{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxText}}

  {{#molTextInput}}
  {{> molecules-input-field-core}}
  {{/molTextInput}}
</div>
