<div class="{{formGroup}} mol-advanced-filter-filter-by-condition">
	
	{{#advfilterCheckboxMultiselect}}
  		{{> molecules-advanced-filter-checkbox}}
	{{/advfilterCheckboxMultiselect}}

	{{#advfilterFilterByCondition}}
 		{{> molecules-filter-by-condition-single-core}}
	{{/advfilterFilterByCondition}}

</div>


<div class="{{formGroup}} mol-advanced-filter-filter-by-condition">
	
	{{#advfilterCheckboxMultiselect}}
  		{{> molecules-advanced-filter-checkbox}}
	{{/advfilterCheckboxMultiselect}}

	{{#advfilterFilterByCondition}}
 		{{> molecules-filter-by-condition-double-core}}
	{{/advfilterFilterByCondition}}

</div>
