<div class="{{formGroup}} mol-advanced-filter-typeahead-dropdown">
  {{#advfilterCheckboxTypeahead}}
  	{{> molecules-advanced-filter-checkbox}}
  {{/advfilterCheckboxTypeahead}}

  {{# molAdvfilterTypeaheadDropdown}}
  	{{>molecules-typeahead-dropdown-single-core}}
  {{/ molAdvfilterTypeaheadDropdown}}
  
</div>
