<input type="{{inputRadio.type}}" name="{{inputRadio.name}}" id="{{inputRadio.id}}" value="{{inputRadio.value}}" {{inputRadio.checkedstate}}{{{arialabel}}}{{{ariadescribedby}}}{{{inputRadio.disabled}}}>
<label for="{{inputRadio.id}}">Radio Button Label</label>