	<input type="{{inputRadioDisabled.type}}" name="{{inputRadioDisabled.name}}" id="{{inputRadioDisabled.id}}" value="{{inputRadioDisabled.value}}" {{inputRadioDisabled.checkedstate}} {{{arialabel}}} {{{ariadescribedby}}} {{{inputRadioDisabled.disabled}}} disabled>
	<label for="{{inputRadioDisabled.id}}" class="disabled">Disabled Radio Button Label</label>	