			<fieldset>
				<legend>Radio Button Header</legend>

				<div class="radio-button--wrapper">
					<input type="{{inputRadioGroup.type}}" name="radio-group" id="radio1" value="{{inputRadioGroup.value}}" {{inputRadioGroup.checkedstate}} {{{arialabel}}} {{{ariadescribedby}}} {{{inputRadioGroup.disabled}}}>
					<label for="radio1">Radio Button Option #1</label>
				</div>			

				<div class="radio-button--wrapper">
					<input type="{{inputRadioGroup.type}}" name="radio-group" id="radio2" value="{{inputRadioGroup.value}}" {{inputRadioGroup.checkedstate}} {{{arialabel}}} {{{ariadescribedby}}} {{{inputRadioGroup.disabled}}}>
					<label for="radio2">Radio Button Option #2</label>	
				</div>		

				<div class="radio-button--wrapper">
					<input type="{{inputRadioGroup.type}}" name="radio-group" id="radio3" value="{{inputRadioGroup.value}}" {{inputRadioGroup.checkedstate}} {{{arialabel}}} {{{ariadescribedby}}} {{{inputRadioGroup.disabled}}}>
					<label for="radio3">Radio Button Option #3</label>
				</div>

			</fieldset>