<div class="{{buttonGroupClass}} mol-button-dropdown{{molBtnDropdownClass}}">
{{#buttonDropdown}}
	{{> atoms-button-core}}
{{/buttonDropdown}}

  <ul class="{{btnDropdownUlClass}}"{{{btnDropdownAria}}}>
    {{{btnDropdownHeading}}}
    {{{btnDropdownOpt1}}}
    {{{btnDropdownOpt2}}}
    {{{btnDropdownDivider}}}
    {{{btnDropdownOpt3}}}
  </ul>
</div>