<div class="{{buttonGroupClass}} mol-nested-button-dropdown"{{{buttonGroupRole}}}{{{buttonGroupAria}}}>
  {{> atoms-button-core}}

  {{> atoms-button-core}}

  {{#buttonNestedDropdown}}
    {{> molecules-button-dropdown}}
  {{/buttonNestedDropdown}}
</div>