<div class="{{buttonGroupClass}} mol-split-button-dropdown">
  {{> atoms-button-core}}

  {{#buttonDropdown}}
  {{> atoms-button-core}}
  {{/buttonDropdown}}

  <ul class="dropdown-menu">
    <li class="dropdown-header">Dropdown Header</li>
    <li>
      <a href="#">Dropdown option 1</a>
    </li>
    <li>
      <a href="#">Dropdown option 2</a>
    </li>
    <li>
      <button type="button">
        Button link</a>
      </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="#">Separated option</a>
    </li>
  </ul>
</div>