<!DOCTYPE html>
<html lang="en" class="{{ htmlClass }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EXi Master Template - Form Inputs</title>

    <link rel="icon" href="../../favicon.ico">

	<!-- JQUery CSS -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/resources/demos/style.css">
    <link href="http://hbg-pdex70-dev/EXi/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="http://hbg-pdex70-dev/EXi/Content/jenzabar/extensions/jqueryui.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Bootstrap CSS -->
    <link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/bootstrap.min.css" rel="stylesheet">
    
	<!-- FooTable CSS -->
    <link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/footable.bootstrap.min.css" rel="stylesheet">

	<!-- Select2 CSS -->
	<link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/select2.min.css" rel="stylesheet">

	<!-- Token Input CSS -->
	<link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/token-input.css" rel="stylesheet">

	<!-- Core HTML/BODY tags - To be replaced within /global/_core.scss when lab conversion is complete!!! -->
	<link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/_core.css" rel="stylesheet">

	<!-- Compiled SASS styles -->
    <link href="../../css/main.css" rel="stylesheet">
	
	<!-- Variation toggles CSS -->
	<link href="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/css/variations-blocks.css" rel="stylesheet" />

    <!-- JQuery JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Bootstrap core JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Datepicker -->
	<link href="http://hbg-pdex70-dev/EXi/Content/themes/base/datepicker.css" rel="stylesheet" />
	<script>
        $(function () {
            $(".datepicker").datepicker({ dateFormat: 'm/d/yy' });
        });
    </script>

	<!-- Token Input (Typeahead) -->
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/token-input-local-data.js"></script>

	<!-- Select2 (Multi-select dropdown) -->
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/select2.full.js"></script>
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/prettify.min.js"></script>
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/select2b.js"></script>

	<!-- Popovers -->
    <script type="text/javascript" src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/popovers.js"></script>

	<!-- Variation toggles JS -->
    <script src="http://vmowlallie.jenzabar.net/alliebs3/templates/master-templates/fresh/js/variations.js"></script>


    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">