
<!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

<!-- Add in FooTable itself -->
    <!--<script src="../../js/footable.js"></script>-->
<!-- Define FooTable options -->
<!--<script src="../../js/footable-options.js"></script>-->


	<script src="../../styleguide/data/patternlab-data.js"></script>

  </body>
</html>
